@define-mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@define-mixin font-size $fontSize {
  /* base font size set on html is now 11px not 10, so need to change the pixel value accordingly */
  $rem: calc($fontSize / 10);
  font-size: calc(1.1 * $fontSize * 1px);
  font-size: calc($rem * 1rem);
}

@define-mixin backgroundZoom {
  transform: scale(1.05);
  transition: all 0.4s ease;
  &:hover {
    transform: scale(1);
  }
}

@define-mixin cardHover {
  box-shadow: 0px 4px 5px 0px $grey;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0px 30px 5px -22px $grey;
    transform: translateY(-5px);
  }
}

@define-mixin backgroundCover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* mixins so we can easily change the text underline style (e.g. using background images) later if we want */
@define-mixin link-underline-style {
  text-decoration: underline;
}
@define-mixin link-underline-style-off {
  text-decoration: none;
}

@define-mixin make-panel {
  border: 1px solid $paleBlue;
  padding: 20px;
  font-weight: $fontWeightMedium;
  display: inline-block;
  background: $white;
  color: $teal;
  width: 100%;
  @mixin link-underline-style-off;
}

/* A mixin so it's easier to change the round button colours */
@define-mixin round-btn-colour $colour {
  border-color: $colour;
  a {
    color: $colour;
  }
}

@define-mixin curved-edge $colorName, $bgColOpacity, $side {
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 0.8%;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-size: 115% auto;
    background-position: center bottom;
    opacity: $bgColOpacity;

    @if $(colorName) == 'teal' {
      background-image: url("../../src/beautii-library/img/svg/optimised/curve-teal.svg");
    }

    @if $(colorName) == 'white' {
      background-image: url("../../src/beautii-library/img/svg/optimised/curve-white.svg");
    }

    @if $(colorName) == 'light-grey' {
      background-image: url("../../src/beautii-library/img/svg/optimised/curve-light-grey.svg");
    }

    @if $(colorName) == 'pale-blue' {
      background-image: url("../../src/beautii-library/img/svg/optimised/curve-pale-blue.svg");
    }

    @if $(colorName) == 'light-teal' {
      background-image: url("../../src/beautii-library/img/svg/optimised/curve-light-teal.svg");
    }

    @if $(side) == 'top' {
      bottom: 100%;
      background-position: center top;
    }
    @if $(side) == 'bottom' {
      top: 100%;
    }
  }
}

@define-mixin double-curved-edge $colorName, $side {
  position: relative;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 1.5%;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-size: 115% auto;
    background-position: center bottom;

    @if $(side) == 'top' {
      bottom: 100%;
      background-position: center top;
    }
    @if $(side) == 'bottom' {
      top: 100%;
    }
    @media (--tablet) {
      padding-bottom: 0.9%;
    }
  }
  &:before {
    margin-top: 2px;

    @if $(colorName) == 'teal' {
      background-image: url("../../src/beautii-library/img/svg/optimised/curve-pale-blue.svg");
    }
    @if $(colorName) == 'navy' {
      background-image: url("../../src/beautii-library/img/svg/optimised/curve-large-pale-blue.svg");
    }
    @if $(colorName) == 'white' {
      background-image: url("../../src/beautii-library/img/svg/optimised/curve-teal.svg");
    }
    @if $(colorName) == 'white-pale' {
      background-image: url("../../src/beautii-library/img/svg/optimised/curve-pale-blue.svg");
    }
    @if $(colorName) == 'blue-white' {
      background-image: url("../../src/beautii-library/img/svg/optimised/curve-white.svg");
    }
    @if $(colorName) == 'light-teal' {
      background-image: url("../../src/beautii-library/img/svg/optimised/curve-pale-blue.svg");
    }
  }
  &:after {
    @if $(colorName) == 'teal' {
      background-image: url("../../src/beautii-library/img/svg/optimised/curve-teal.svg");
    }
    @if $(colorName) == 'navy' {
      background-image: url("../../src/beautii-library/img/svg/optimised/curve-large-navy.svg");
    }
    @if $(colorName) == 'white' {
      background-image: url("../../src/beautii-library/img/svg/optimised/curve-white.svg");
    }
    @if $(colorName) == 'white-pale' {
      background-image: url("../../src/beautii-library/img/svg/optimised/curve-white.svg");
    }
    @if $(colorName) == 'blue-white' {
      background-image: url("../../src/beautii-library/img/svg/optimised/curve-pale-blue.svg");
    }
    @if $(colorName) == 'light-teal' {
      background-image: url("../../src/beautii-library/img/svg/optimised/curve-light-teal.svg");
    }
  }
  @if $(side) == 'top' {
    &:before {
      margin-top: 0;
      margin-bottom: 2px;
    }
  }
}
