@define-mixin font-size $fontSize {
  $rem: calc($fontSize / 10);
  font-size: calc($fontSize * 1px);
  font-size: calc($rem * 1rem);
}

/* mixins so we can easily change the text underline style (e.g. using background images) later if we want */
@define-mixin link-underline-style {
  text-decoration: underline;
}
@define-mixin link-underline-style-off {
  text-decoration: none;
}

@define-mixin make-panel {
  border: 1px solid $paleBlue;
  padding: 20px;
  font-weight: $fontWeightMedium;
  display: inline-block;
  background: $white;
  color: $teal;
  width: 300px;
  max-width: 100%;
  @mixin link-underline-style-off;
}

/* A mixin so it's easier to change the round button colours */
@define-mixin round-btn-colour $colour {
  border-color: $colour;
   a {
     color: $colour;
   }
}

@define-mixin curved-edge $bgColRgbVal, $bgColOpacity, $side {
  position: relative;

  &:before {
    content: '';
    display: block;
    background: rgb($bgColRgbVal);
    background: rgba($bgColRgbVal, $bgColOpacity);
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;

    @if $(side) == 'top' {
      border-radius: 100% 100% 0 0;
      top: -10px;
    }
    @if $(side) == 'bottom' {
      border-radius: 0 0 100% 100%;
      bottom: -10px;
    }
  }
}

@define-mixin double-curved-edge $bgColVal, $borderColVal, $side, $size {
  position: relative;

  &:after {
    content: '';
    display: block;
    background-color: $bgColVal;
    width: 100%;
    height: $size;
    position: absolute;
    left: 0;

    @if $(side) == 'top' {
      border-radius: 100% 100% 0 0;
      top: -$size;
    }
    @if $(side) == 'bottom' {
      border-radius: 0 0 100% 100%;
      bottom: -$size;
    }
  }
  &:before {
    content: '';
    display: block;
    background-color: $borderColVal;
    width: 100%;
    height: $size;
    position: absolute;
    left: 0;

    @if $(side) == 'top' {
      border-radius: 100% 100% 0 0;
      top: -$size;
      margin-top: -4px;
    }
    @if $(side) == 'bottom' {
      border-radius: 0 0 100% 100%;
      bottom: -$size;
      margin-bottom: -4px;
    }
  }
}

@define-mixin inverted-edge $bgColRgbVal, $bgColOpacity, $side {
  position: relative;

  &:before {
    content: '';
    display: block;
    background-image: radial-gradient(circle farthest-side at 50% 0, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10px, red 10px);
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;

    @if $(side) == 'top' {
      top: -10px;
    }
    @if $(side) == 'bottom' {
      bottom: -10px;
    }
  }
}