.btn-default,
input[type="submit"],
input[type=button] {
  border: 0;
  background: $teal;
  color: $white;
  @mixin font-size $btnDefaultFontSize;
  font-weight: $fontWeightRegular;
  padding: $btnPaddingLarge;
  @mixin link-underline-style-off;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: $btnBorderRadius;
}
.btn-bold {
  @mixin font-size $btnDefaultFontSize;
  @mixin link-underline-style-off;
  display: inline-block;
  text-align: center;
  border-radius: $btnBorderRadius;
  border: 0;
  padding: $btnPaddingTight;
  color: $navyBlue;
  background: $teal;
  font-weight: $fontWeightSemibold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.btn-outline {
  @mixin font-size $btnDefaultFontSize;
  @mixin link-underline-style-off;
  display: inline-block;
  text-align: center;
  border-radius: $btnBorderRadius;
  border: $btnBorderWidth solid $teal;
  padding: $btnPaddingTight;
  color: $teal;
  font-weight: $btnDefaultWeight;
}
.btn-outline-bold {
  @mixin font-size $btnDefaultFontSize;
  @mixin link-underline-style-off;
  display: inline-block;
  text-align: center;
  border-radius: $btnBorderRadius;
  border: $btnBorderWidth solid $teal;
  padding: $btnPaddingTight;
  color: $teal;
  font-weight: $fontWeightSemibold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.btn-urgent {
  @mixin font-size $btnDefaultFontSize;
  @mixin link-underline-style-off;
  display: inline-block;
  text-align: center;
  border-radius: $btnBorderRadius;
  border: $btnBorderWidth solid $teal;
  padding: $btnPaddingLarge;
  background: $navyBlue;
  color: $teal;
  font-weight: $btnDefaultWeight;
  text-transform: uppercase;
}
.btn-round {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid $teal;
  text-align: center;
  @mixin font-size $btnDefaultFontSize;
  font-weight: $fontWeightSemibold;
  text-transform: uppercase;
  @mixin link-underline-style-off;
  color: $teal;
  display: flex;
  align-items: center;
  padding: 10px;
}
.btn-icon-square {
  border: 1px solid $teal;
  padding: 0.6em 15px 0.5em 40px;
  display: inline-block;
  @mixin link-underline-style-off;
  @mixin font-size $btnDefaultFontSize;
  position: relative;
  color: $teal;

  svg {
    fill: $teal;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -8px;
  }
}
.lozenge {
  background: $paleBlue;
  border-radius: $btnBorderRadius;
  color: $teal;
  text-transform: uppercase;
  padding: 0.3em 0.8em;
  font-weight: $fontWeightSemibold;
  display: flex;
  justify-content: space-between;
  text-decoration: none;

  span {
    width: 33.3333%;
  }
  .lozenge__title {
    text-align: left;
  }
  .lozenge__cta {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    svg {
      fill: $teal;
      width: 10px;
      height: 10px;
      margin-left: 5px;
    }
  }
}