.icon--address-iconAltCol01 { background-image: url('img/svg/fallbacks/address-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--address-iconAltCol02 { background-image: url('img/svg/fallbacks/address-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--address-iconAltCol03 { background-image: url('img/svg/fallbacks/address-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--address { background-image: url('img/svg/fallbacks/address.png'); background-repeat: no-repeat; }

.icon--alert-iconAltCol01 { background-image: url('img/svg/fallbacks/alert-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--alert-iconAltCol02 { background-image: url('img/svg/fallbacks/alert-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--alert-iconAltCol03 { background-image: url('img/svg/fallbacks/alert-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--alert { background-image: url('img/svg/fallbacks/alert.png'); background-repeat: no-repeat; }

.icon--amex-iconAltCol01 { background-image: url('img/svg/fallbacks/amex-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--amex-iconAltCol02 { background-image: url('img/svg/fallbacks/amex-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--amex-iconAltCol03 { background-image: url('img/svg/fallbacks/amex-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--amex { background-image: url('img/svg/fallbacks/amex.png'); background-repeat: no-repeat; }

.icon--beautii-logo-iconAltCol01 { background-image: url('img/svg/fallbacks/beautii-logo-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--beautii-logo-iconAltCol02 { background-image: url('img/svg/fallbacks/beautii-logo-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--beautii-logo-iconAltCol03 { background-image: url('img/svg/fallbacks/beautii-logo-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--beautii-logo { background-image: url('img/svg/fallbacks/beautii-logo.png'); background-repeat: no-repeat; }

.icon--brand-tag-iconAltCol01 { background-image: url('img/svg/fallbacks/brand-tag-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--brand-tag-iconAltCol02 { background-image: url('img/svg/fallbacks/brand-tag-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--brand-tag-iconAltCol03 { background-image: url('img/svg/fallbacks/brand-tag-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--brand-tag { background-image: url('img/svg/fallbacks/brand-tag.png'); background-repeat: no-repeat; }

.icon--calendar-iconAltCol01 { background-image: url('img/svg/fallbacks/calendar-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--calendar-iconAltCol02 { background-image: url('img/svg/fallbacks/calendar-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--calendar-iconAltCol03 { background-image: url('img/svg/fallbacks/calendar-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--calendar { background-image: url('img/svg/fallbacks/calendar.png'); background-repeat: no-repeat; }

.icon--call-iconAltCol01 { background-image: url('img/svg/fallbacks/call-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--call-iconAltCol02 { background-image: url('img/svg/fallbacks/call-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--call-iconAltCol03 { background-image: url('img/svg/fallbacks/call-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--call { background-image: url('img/svg/fallbacks/call.png'); background-repeat: no-repeat; }

.icon--camera-iconAltCol01 { background-image: url('img/svg/fallbacks/camera-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--camera-iconAltCol02 { background-image: url('img/svg/fallbacks/camera-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--camera-iconAltCol03 { background-image: url('img/svg/fallbacks/camera-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--camera { background-image: url('img/svg/fallbacks/camera.png'); background-repeat: no-repeat; }

.icon--checkbox-iconAltCol01 { background-image: url('img/svg/fallbacks/checkbox-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--checkbox-iconAltCol02 { background-image: url('img/svg/fallbacks/checkbox-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--checkbox-iconAltCol03 { background-image: url('img/svg/fallbacks/checkbox-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--checkbox { background-image: url('img/svg/fallbacks/checkbox.png'); background-repeat: no-repeat; }

.icon--close-iconAltCol01 { background-image: url('img/svg/fallbacks/close-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--close-iconAltCol02 { background-image: url('img/svg/fallbacks/close-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--close-iconAltCol03 { background-image: url('img/svg/fallbacks/close-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--close { background-image: url('img/svg/fallbacks/close.png'); background-repeat: no-repeat; }

.icon--confirmation-iconAltCol01 { background-image: url('img/svg/fallbacks/confirmation-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--confirmation-iconAltCol02 { background-image: url('img/svg/fallbacks/confirmation-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--confirmation-iconAltCol03 { background-image: url('img/svg/fallbacks/confirmation-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--confirmation { background-image: url('img/svg/fallbacks/confirmation.png'); background-repeat: no-repeat; }

.icon--cost-iconAltCol01 { background-image: url('img/svg/fallbacks/cost-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--cost-iconAltCol02 { background-image: url('img/svg/fallbacks/cost-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--cost-iconAltCol03 { background-image: url('img/svg/fallbacks/cost-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--cost { background-image: url('img/svg/fallbacks/cost.png'); background-repeat: no-repeat; }

.icon--date-time-iconAltCol01 { background-image: url('img/svg/fallbacks/date-time-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--date-time-iconAltCol02 { background-image: url('img/svg/fallbacks/date-time-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--date-time-iconAltCol03 { background-image: url('img/svg/fallbacks/date-time-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--date-time { background-image: url('img/svg/fallbacks/date-time.png'); background-repeat: no-repeat; }

.icon--door-iconAltCol01 { background-image: url('img/svg/fallbacks/door-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--door-iconAltCol02 { background-image: url('img/svg/fallbacks/door-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--door-iconAltCol03 { background-image: url('img/svg/fallbacks/door-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--door { background-image: url('img/svg/fallbacks/door.png'); background-repeat: no-repeat; }

.icon--edit-iconAltCol01 { background-image: url('img/svg/fallbacks/edit-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--edit-iconAltCol02 { background-image: url('img/svg/fallbacks/edit-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--edit-iconAltCol03 { background-image: url('img/svg/fallbacks/edit-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--edit { background-image: url('img/svg/fallbacks/edit.png'); background-repeat: no-repeat; }

.icon--email-iconAltCol01 { background-image: url('img/svg/fallbacks/email-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--email-iconAltCol02 { background-image: url('img/svg/fallbacks/email-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--email-iconAltCol03 { background-image: url('img/svg/fallbacks/email-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--email { background-image: url('img/svg/fallbacks/email.png'); background-repeat: no-repeat; }

.icon--facebook-iconAltCol01 { background-image: url('img/svg/fallbacks/facebook-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--facebook-iconAltCol02 { background-image: url('img/svg/fallbacks/facebook-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--facebook-iconAltCol03 { background-image: url('img/svg/fallbacks/facebook-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--facebook { background-image: url('img/svg/fallbacks/facebook.png'); background-repeat: no-repeat; }

.icon--home-iconAltCol01 { background-image: url('img/svg/fallbacks/home-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--home-iconAltCol02 { background-image: url('img/svg/fallbacks/home-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--home-iconAltCol03 { background-image: url('img/svg/fallbacks/home-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--home { background-image: url('img/svg/fallbacks/home.png'); background-repeat: no-repeat; }

.icon--hotel-iconAltCol01 { background-image: url('img/svg/fallbacks/hotel-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--hotel-iconAltCol02 { background-image: url('img/svg/fallbacks/hotel-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--hotel-iconAltCol03 { background-image: url('img/svg/fallbacks/hotel-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--hotel { background-image: url('img/svg/fallbacks/hotel.png'); background-repeat: no-repeat; }

.icon--instagram-iconAltCol01 { background-image: url('img/svg/fallbacks/instagram-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--instagram-iconAltCol02 { background-image: url('img/svg/fallbacks/instagram-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--instagram-iconAltCol03 { background-image: url('img/svg/fallbacks/instagram-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--instagram { background-image: url('img/svg/fallbacks/instagram.png'); background-repeat: no-repeat; }

.icon--mastercard-iconAltCol01 { background-image: url('img/svg/fallbacks/mastercard-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--mastercard-iconAltCol02 { background-image: url('img/svg/fallbacks/mastercard-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--mastercard-iconAltCol03 { background-image: url('img/svg/fallbacks/mastercard-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--mastercard { background-image: url('img/svg/fallbacks/mastercard.png'); background-repeat: no-repeat; }

.icon--menu-iconAltCol01 { background-image: url('img/svg/fallbacks/menu-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--menu-iconAltCol02 { background-image: url('img/svg/fallbacks/menu-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--menu-iconAltCol03 { background-image: url('img/svg/fallbacks/menu-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--menu { background-image: url('img/svg/fallbacks/menu.png'); background-repeat: no-repeat; }

.icon--next-button-iconAltCol01 { background-image: url('img/svg/fallbacks/next-button-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--next-button-iconAltCol02 { background-image: url('img/svg/fallbacks/next-button-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--next-button-iconAltCol03 { background-image: url('img/svg/fallbacks/next-button-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--next-button { background-image: url('img/svg/fallbacks/next-button.png'); background-repeat: no-repeat; }

.icon--password-iconAltCol01 { background-image: url('img/svg/fallbacks/password-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--password-iconAltCol02 { background-image: url('img/svg/fallbacks/password-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--password-iconAltCol03 { background-image: url('img/svg/fallbacks/password-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--password { background-image: url('img/svg/fallbacks/password.png'); background-repeat: no-repeat; }

.icon--payment-method-iconAltCol01 { background-image: url('img/svg/fallbacks/payment-method-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--payment-method-iconAltCol02 { background-image: url('img/svg/fallbacks/payment-method-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--payment-method-iconAltCol03 { background-image: url('img/svg/fallbacks/payment-method-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--payment-method { background-image: url('img/svg/fallbacks/payment-method.png'); background-repeat: no-repeat; }

.icon--pinterest-iconAltCol01 { background-image: url('img/svg/fallbacks/pinterest-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--pinterest-iconAltCol02 { background-image: url('img/svg/fallbacks/pinterest-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--pinterest-iconAltCol03 { background-image: url('img/svg/fallbacks/pinterest-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--pinterest { background-image: url('img/svg/fallbacks/pinterest.png'); background-repeat: no-repeat; }

.icon--plus-iconAltCol01 { background-image: url('img/svg/fallbacks/plus-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--plus-iconAltCol02 { background-image: url('img/svg/fallbacks/plus-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--plus-iconAltCol03 { background-image: url('img/svg/fallbacks/plus-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--plus-select-iconAltCol01 { background-image: url('img/svg/fallbacks/plus-select-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--plus-select-iconAltCol02 { background-image: url('img/svg/fallbacks/plus-select-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--plus-select-iconAltCol03 { background-image: url('img/svg/fallbacks/plus-select-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--plus-select { background-image: url('img/svg/fallbacks/plus-select.png'); background-repeat: no-repeat; }

.icon--plus { background-image: url('img/svg/fallbacks/plus.png'); background-repeat: no-repeat; }

.icon--qualified-team-iconAltCol01 { background-image: url('img/svg/fallbacks/qualified-team-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--qualified-team-iconAltCol02 { background-image: url('img/svg/fallbacks/qualified-team-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--qualified-team-iconAltCol03 { background-image: url('img/svg/fallbacks/qualified-team-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--qualified-team { background-image: url('img/svg/fallbacks/qualified-team.png'); background-repeat: no-repeat; }

.icon--remove-item-iconAltCol01 { background-image: url('img/svg/fallbacks/remove-item-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--remove-item-iconAltCol02 { background-image: url('img/svg/fallbacks/remove-item-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--remove-item-iconAltCol03 { background-image: url('img/svg/fallbacks/remove-item-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--remove-item { background-image: url('img/svg/fallbacks/remove-item.png'); background-repeat: no-repeat; }

.icon--right-arrow-iconAltCol01 { background-image: url('img/svg/fallbacks/right-arrow-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--right-arrow-iconAltCol02 { background-image: url('img/svg/fallbacks/right-arrow-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--right-arrow-iconAltCol03 { background-image: url('img/svg/fallbacks/right-arrow-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--right-arrow { background-image: url('img/svg/fallbacks/right-arrow.png'); background-repeat: no-repeat; }

.icon--settings-iconAltCol01 { background-image: url('img/svg/fallbacks/settings-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--settings-iconAltCol02 { background-image: url('img/svg/fallbacks/settings-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--settings-iconAltCol03 { background-image: url('img/svg/fallbacks/settings-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--settings { background-image: url('img/svg/fallbacks/settings.png'); background-repeat: no-repeat; }

.icon--star-iconAltCol01 { background-image: url('img/svg/fallbacks/star-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--star-iconAltCol02 { background-image: url('img/svg/fallbacks/star-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--star-iconAltCol03 { background-image: url('img/svg/fallbacks/star-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--star { background-image: url('img/svg/fallbacks/star.png'); background-repeat: no-repeat; }

.icon--timer-iconAltCol01 { background-image: url('img/svg/fallbacks/timer-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--timer-iconAltCol02 { background-image: url('img/svg/fallbacks/timer-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--timer-iconAltCol03 { background-image: url('img/svg/fallbacks/timer-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--timer { background-image: url('img/svg/fallbacks/timer.png'); background-repeat: no-repeat; }

.icon--twitter-iconAltCol01 { background-image: url('img/svg/fallbacks/twitter-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--twitter-iconAltCol02 { background-image: url('img/svg/fallbacks/twitter-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--twitter-iconAltCol03 { background-image: url('img/svg/fallbacks/twitter-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--twitter { background-image: url('img/svg/fallbacks/twitter.png'); background-repeat: no-repeat; }

.icon--user-icon-iconAltCol01 { background-image: url('img/svg/fallbacks/user-icon-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--user-icon-iconAltCol02 { background-image: url('img/svg/fallbacks/user-icon-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--user-icon-iconAltCol03 { background-image: url('img/svg/fallbacks/user-icon-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--user-icon { background-image: url('img/svg/fallbacks/user-icon.png'); background-repeat: no-repeat; }

.icon--visa-iconAltCol01 { background-image: url('img/svg/fallbacks/visa-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--visa-iconAltCol02 { background-image: url('img/svg/fallbacks/visa-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--visa-iconAltCol03 { background-image: url('img/svg/fallbacks/visa-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--visa { background-image: url('img/svg/fallbacks/visa.png'); background-repeat: no-repeat; }

.icon--work-iconAltCol01 { background-image: url('img/svg/fallbacks/work-iconAltCol01.png'); background-repeat: no-repeat; }

.icon--work-iconAltCol02 { background-image: url('img/svg/fallbacks/work-iconAltCol02.png'); background-repeat: no-repeat; }

.icon--work-iconAltCol03 { background-image: url('img/svg/fallbacks/work-iconAltCol03.png'); background-repeat: no-repeat; }

.icon--work { background-image: url('img/svg/fallbacks/work.png'); background-repeat: no-repeat; }

