.icon--address { background-image: url('img/svg/fallbacks/address.png'); background-repeat: no-repeat; }

.icon--alert { background-image: url('img/svg/fallbacks/alert.png'); background-repeat: no-repeat; }

.icon--amex { background-image: url('img/svg/fallbacks/amex.png'); background-repeat: no-repeat; }

.icon--brand-tag { background-image: url('img/svg/fallbacks/brand-tag.png'); background-repeat: no-repeat; }

.icon--calendar { background-image: url('img/svg/fallbacks/calendar.png'); background-repeat: no-repeat; }

.icon--call { background-image: url('img/svg/fallbacks/call.png'); background-repeat: no-repeat; }

.icon--camera { background-image: url('img/svg/fallbacks/camera.png'); background-repeat: no-repeat; }

.icon--checkbox { background-image: url('img/svg/fallbacks/checkbox.png'); background-repeat: no-repeat; }

.icon--close { background-image: url('img/svg/fallbacks/close.png'); background-repeat: no-repeat; }

.icon--confirmation { background-image: url('img/svg/fallbacks/confirmation.png'); background-repeat: no-repeat; }

.icon--cost { background-image: url('img/svg/fallbacks/cost.png'); background-repeat: no-repeat; }

.icon--date-time { background-image: url('img/svg/fallbacks/date-time.png'); background-repeat: no-repeat; }

.icon--door { background-image: url('img/svg/fallbacks/door.png'); background-repeat: no-repeat; }

.icon--edit { background-image: url('img/svg/fallbacks/edit.png'); background-repeat: no-repeat; }

.icon--email { background-image: url('img/svg/fallbacks/email.png'); background-repeat: no-repeat; }

.icon--facebook { background-image: url('img/svg/fallbacks/facebook.png'); background-repeat: no-repeat; }

.icon--home { background-image: url('img/svg/fallbacks/home.png'); background-repeat: no-repeat; }

.icon--hotel { background-image: url('img/svg/fallbacks/hotel.png'); background-repeat: no-repeat; }

.icon--instagram { background-image: url('img/svg/fallbacks/instagram.png'); background-repeat: no-repeat; }

.icon--mastercard { background-image: url('img/svg/fallbacks/mastercard.png'); background-repeat: no-repeat; }

.icon--menu { background-image: url('img/svg/fallbacks/menu.png'); background-repeat: no-repeat; }

.icon--next-button { background-image: url('img/svg/fallbacks/next-button.png'); background-repeat: no-repeat; }

.icon--password { background-image: url('img/svg/fallbacks/password.png'); background-repeat: no-repeat; }

.icon--payment-method { background-image: url('img/svg/fallbacks/payment-method.png'); background-repeat: no-repeat; }

.icon--pinterest { background-image: url('img/svg/fallbacks/pinterest.png'); background-repeat: no-repeat; }

.icon--plus-select { background-image: url('img/svg/fallbacks/plus-select.png'); background-repeat: no-repeat; }

.icon--plus { background-image: url('img/svg/fallbacks/plus.png'); background-repeat: no-repeat; }

.icon--qualified-team { background-image: url('img/svg/fallbacks/qualified-team.png'); background-repeat: no-repeat; }

.icon--remove-item { background-image: url('img/svg/fallbacks/remove-item.png'); background-repeat: no-repeat; }

.icon--right-arrow { background-image: url('img/svg/fallbacks/right-arrow.png'); background-repeat: no-repeat; }

.icon--settings { background-image: url('img/svg/fallbacks/settings.png'); background-repeat: no-repeat; }

.icon--star { background-image: url('img/svg/fallbacks/star.png'); background-repeat: no-repeat; }

.icon--timer { background-image: url('img/svg/fallbacks/timer.png'); background-repeat: no-repeat; }

.icon--twitter { background-image: url('img/svg/fallbacks/twitter.png'); background-repeat: no-repeat; }

.icon--user-icon { background-image: url('img/svg/fallbacks/user-icon.png'); background-repeat: no-repeat; }

.icon--visa { background-image: url('img/svg/fallbacks/visa.png'); background-repeat: no-repeat; }

.icon--work { background-image: url('img/svg/fallbacks/work.png'); background-repeat: no-repeat; }

